/*
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
*/

/* change header font*/
/*
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #223775;
}

/* use all the width */
.wy-nav-content {
  max-width: 1000px /*unset
}



/* make logo smaller */
.wy-side-nav-search > a img.logo {
  width: 195px;
}

/* inline markups*/
.menuselection {
  border:1px dashed #7fbbe366;
  background:#f1f9ff;
  font-size:95%;
  font-weight:700;
  border-radius:1px;
  padding:0px 3px;
  margin:auto 2px
}

.rst-content .guilabel {
  border:1px solid #7fbbe366;
  background:#f1f9ff;
  font-size:95%;
  font-weight:700;
  border-radius:1px;
  padding:0px 3px;
  margin:auto 2px
}

.kbd {
  font-weight: bold;
  border: 1px solid #ddd;
  background: #eee;
  color: #E22;
  border-radius:3px;
  padding-left: 3px;
  padding-right: 3px;
}

/* table fix for wrapping text. thanks to https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}